<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjkaps.epantry">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ItemUI.ItemActivity"></activity>
        <activity
            android:name=".ui.Fridge.AddFridgeItem"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".ui.Shopping.AddShoppingItem"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".ui.scanCode.ScanItem"
            android:label="@string/title_activity_scan_item" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ui.loginSignup.EmailVerification"
            android:label="@string/title_activity_email_verification" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.loginSignup.SignUpActivity"
            android:label="@string/create_account_prompt" />
        <activity
            android:name=".ui.loginSignup.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>